EJERCICIO 1

In [11]:
texto = "Interesting facts about the Moon. The Moon is Earth's only satellite. There are several interesting facts about the Moon and how it affects life here on Earth. On average, the Moon moves 4cm away from the Earth every year. This yearly drift is not significant enough"

In [8]:
texto_partes=texto.split('.' )
texto_partes

['Interesting facts about the Moon',
 " The Moon is Earth's only satellite",
 ' There are several interesting facts about the Moon and how it affects life here on Earth',
 ' On average, the Moon moves 4cm away from the Earth every year',
 ' This yearly drift is not significant enough']

In [9]:
clave_words=["avarage","temperature","distance"]

In [10]:
for sentencia in texto_partes:
    for clave_words in clave_words:
        if clave_words in sentencia:
            print(sentencia.replace('C',' celsius'))
            break

 The Moon is Earth's only satellite
 There are several interesting facts about the Moon and how it affects life here on Earth
 This yearly drift is not significant enough

EJERCICIO 2

In [12]:
planeta='marte'
gravedad=0.00143
nombre='ganumedes'

In [13]:
titulo=f'datos de gravedad sobre{nombre}'

In [14]:
hechos=f"""{'-'*80}
Nombre del planeta:{planeta}Gravedad{nombre}:{gravedad*1000}m/s2"""

In [15]:
union=f"""{titulo.title()}{hechos}"""
print(hechos)

--------------------------------------------------------------------------------
Nombre del planeta:marteGravedadganumedes:1.4300000000000002m/s2

In [ ]:
planeta = 'Marte'
gravedad  = 0.00143
nombre = 'Gan√≠medes'

In [ ]:
print(hechos)

In [17]:
union2 = """
Datos de Gravedad sobre: {nombre}
-------------------------------------------------------------------------------
Nombre del planeta: {planeta}
Gravedad en {nombre}: {gravedad} m/s2
"""
print(union2.format(nombre=nombre, planeta=planeta, gravedad=gravedad))

Datos de Gravedad sobre: ganumedes
-------------------------------------------------------------------------------
Nombre del planeta: marte
Gravedad en ganumedes: 0.00143 m/s2

In [18]:
print(union2.format(nombre=nombre, planeta=planeta, gravedad=gravedad*1000))

Datos de Gravedad sobre: ganumedes
-------------------------------------------------------------------------------
Nombre del planeta: marte
Gravedad en ganumedes: 1.4300000000000002 m/s2